*{
	margin:0;
	padding:0;
	border:none;
	background:transparent;
	font-family:'Roboto', sans-serif
}
body{
	background-color:#ef0a46 !important;
}
header{
	background-color:#ef0a46 !important;
}
main{
    background-color:#ef0a46 !important;
	max-width:1000px;
	margin:0 auto;
}